/* @keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
} */

#web_bg {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background-image: url(../img/bj2.jpg);
  /* background-size: 400% 400%;
  animation: gradientBG 15s ease infinite; */
}

/* #nav .menus_items {
  position: absolute;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

#nav .menus_items .menus_item:hover .menus_item_child {
  display: flex;
}

.menus_items .menus_item:nth-child(2) .menus_item_child {
  left: -65px;
} */


div#runtime {
  width: fit-content;
  color: pink;
  padding: 0 10px;
  border-radius: 10px;
  /* background-color: rgba(0, 0, 0, 0.7); */
}

[data-theme="dark"] div#runtime {
  color: #28b4c8;
  box-shadow: 0 0 5px rgba(28, 69, 218, 0.71);
}

#runtime {
  margin: auto;
}

/* #footer:before {
  content: none !important;
} */

#recent-posts>.recent-post-item {
  position: relative;
}

/* 最新文章图标 */
.newPost-left,
.newPost-right {
  position: absolute;
  top: 0;
  color: white;
  padding: 0 15px;
  background-color: #49b1f5;
  border-radius: 0 0 10px 10px;
}

.newPost-left {
  left: 15px;
}

.newPost-right {
  right: 15px;
}


.loading-img {
  background: url(../img/favicon.jpg) no-repeat center center;
  background-size: cover;
}


.fa-regular, .far {
  margin-right: 5px;
}
.article-meta {
  margin-left: 5px;
}
.article-meta-separator {
  margin:0 3px;
}

/* 主页文章卡片擦亮动画效果 */
#recent-posts > .recent-post-item:not(a)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background: linear-gradient(to right, transparent, white, transparent);
  transform: translateX(-200%);
  transition: transform 0.5s linear;
  z-index: 1;
}
#recent-posts > .recent-post-item:not(a):hover::before {
  transform: translateX(100%) skewX(-60deg);
}